@import "tailwindcss";

html, body, #root {
    height: 100%;
    background-color: black;
  }

  @font-face {
    font-family: "Joane";
    src: url("./assets/fonts/fonnts.com-w_foundry_-_joane_italic_regular.otf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins-semibold";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins-bold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  button {
    cursor: pointer;
  }